body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 28px; /* Aumenta o tamanho do título principal */
    text-align: center;
    color: #4CAF50;
    margin-bottom: 30px;
}

.mesas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mesa {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mesa h2 {
    font-size: 24px; /* Aumenta o tamanho do título da mesa */
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px); /* Responsivo */
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px; /* Aumenta o tamanho dos inputs */
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 12px 18px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Aumenta o tamanho do botão */
}

button:hover {
    background-color: #45a049; /* Verde escuro ao passar o mouse */
}

.qrcode {
    margin-top: 20px; /* Margem superior */
    text-align: center;
}

.resumo-link {
    display: block;
    margin-top: 20px;
    font-size: 20px; /* Aumenta o tamanho do link */
    color: #4CAF50; /* Verde */
    text-decoration: none; /* Remove o sublinhado */
}

.resumo-link:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

.total {
    font-size: 22px; /* Aumenta o tamanho do total */
    font-weight: bold;
    margin-top: 30px; /* Espaçamento superior */
}
