/* Ajustes gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Estilo do cabeçalho */
.header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
}

.header h1 {
    color: white;
    margin: 0;
    font-size: 24px;
}

/* Layout horizontal para mesas */
.mesa-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.mesa {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    padding: 20px;
    width: 250px;
    min-width: 250px;
}

.mesa h2 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #333;
}

.mesa-info {
    margin-top: 10px;
}

.mesa-info span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.mesa-info button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.mesa-info button:hover {
    background-color: #0056b3;
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {
    .mesa {
        width: 200px;
        min-width: 200px;
    }

    .mesa h2 {
        font-size: 16px;
    }

    .mesa-info button {
        font-size: 14px;
    }
}